# Python Loops
Python has two primitive loops (for and while)

# While Loop

In [ ]:
#printing hello world five times using while loop
n=0
while n<5:
    print("Hello World")
    n+=1  #incrementing counter by 1 
print("Out of Loop") # outside the loop

In [9]:
#counting numbers from 0 to 5
i=0
while i<=5:
    print(i)
    i+=1  #incrementing i by 1

0
1
2
3
4
5

In [ ]:
#counting numbers from 0 to N
i=0
N = int(input("Enter any number"))
while i<=N:
    print(i)
    i+=1  #incrementing i by 1

In [10]:
# Program to add natural numbers  
# sum = 1+2+3+...+10

sum = 0
i = 1
while i <= 10:
    sum =sum+ i    
    i =i+ 1       # i+=1
print(sum)

55

In [2]:
# initialize sum and counter
sum = 0
i = 1
n=int(input("Enter a no "))
while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter a no 10
The sum is 55

In [4]:
# Sum even integer values within range 1-10
sum = 0
i = 1
while i <= 10:
    
    if i%2==0:
        sum += i     #sum=sum+i
    i += 1
print(sum)

30

# Break and Continue in While Loop
1. Break Statement used to bring program control out of Loop
2. Continue Statement is used for skipping the particular part of Loop

In [ ]:
i=1
while i<=10:
    
    if i==5:
        break #break here      
    print('Number is ',i)
    i+=1
print("Out of Loop")

In [3]:
i=0
while i<=10:
    i+=1
    if i==5:
        continue #continue here      
    print('Number is ',i)
print("Out of Loop")

Number is  1
Number is  2
Number is  3
Number is  4
Number is  6
Number is  7
Number is  8
Number is  9
Number is  10
Number is  11
Out of Loop

In [9]:
# Sum integer values within range less than 5 (using break command)
sum = 0
i = 1
while i <= 10:
    sum += i
    i += 1
    if i == 5:
        break
    
print(sum)

10

In [ ]:
sum = 0
input_value = 0
while input_value != 'q':
    sum += int(input_value)
    print("Sum = ", sum)
    print("Enter New number to add or press q to quit the program")
    input_value = input()

# For Loop

In [11]:
# Loop through list value
for i in  [1,2,3,4,5]:
    print(i)
print ("Good bye!")

1
2
3
4
5
Good bye!

In [12]:
# Loop through string value
country="Pakistan"
for x in  country:
    print(x)
print ("Good bye!")

P
a
k
i
s
t
a
n
Good bye!

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Range
Range Returns a sequence of numbers starting from 0 to stop - 1

In [15]:
# We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).
range(10)

range(0, 10)

In [16]:
# For loop with range() fuction
for i in range(5):  # in range(5), the loop will stop just before 5, so 5 is exclusive
    print(i)

0
1
2
3
4

In [18]:
for i in range(2, 15):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
# taking square of no.s from 0 to 4
for i in range(5):  
    print(i**2)

In [19]:
# Sum integer values within range 10
sum = 0
for i in range(11): 
    sum += i
print(sum)

55

# Break and Continue in For Loop

In [ ]:
for number in range(10):
    number = number + 1
    
    if number == 5:
        break  # break here
        
    print('Number is ',(number))

print('Out of Loop')

In [ ]:
# Sum integer values within range less than 50 (using break command)
sum = 0
for i in range(101): 
    if i == 51:
        break
    sum += i
    
print(sum)

In [ ]:
for number in range(10):
    number = number + 1
    
    if number == 5:
        continue  # continue here
    print('Number is ',str(number))   
print('Out of Loop')

# 1.	Write a Python program that prints all the numbers from 0 to 6 except 3 and 6. 
Note: Use 'continue' statement.
Expected Output: 0 1 2 4 5

In [23]:
#printing no.s from 1 to 4
i=1
while True:
    
    if i==5:
        break    
    print(i) 
    i+=1

1
2
3
4